@font-face {
   font-family: 'Poppins-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Cash/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-09-25_124934/fonts/Poppins-Regular/font.ttf');
}
